<div class="text-center">
	<div class="col-xs-3"></div>
	<div class="col-xs-6 center-block text-left">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2>Ingrese su usuario</h2>
			</div>

			<div class="panel-body">
				<form>
					<div class="form-group">
						<label for="usuario">Usuario </label> <input type="text"
							class="form-control" id="usuario" placeholder="Usuario" ng-model="nombre">
					</div>

					<button class="btn btn-default" ng-click="login()">Ingresar</button>
				</form>
			</div>
		</div>
	</div>
</div>